[submodule "StRoot/HistManager"]
	path = StRoot/HistManager
	url = ../HistManager
[submodule "StRoot/EpProManager"]
	path = StRoot/EpProManager
	url = git@github.com:cdxing/EpProManager.git
[submodule "StRoot/ConstManager"]
	path = StRoot/ConstManager
	url = git@github.com:cdxing/ConstManager.git
[submodule "StRoot/CutManager"]
	path = StRoot/CutManager
	url = git@github.com:cdxing/CutManager.git
[submodule "StRoot/Run"]
	path = StRoot/Run
	url = git@github.com:cdxing/Run.git
[submodule "StRoot/ConfigReader"]
	path = StRoot/ConfigReader
	url = git@github.com:cdxing/ConfigReader.git
